<footer>
    <div class="container">
        <div class="row">

            <div class="col-12 col-md d-flex flex-column align-items-md-start align-items-center my-sm-3 my-0">
                <h3>Sobre nosotros</h3>
                <a href="#">Facebook</a>
                <a href="#">Facebook</a>
                <a href="#">Facebook</a>
            </div>

            <div class="col-12 col-md d-flex flex-column align-items-center my-sm-3 my-0">
                <h4>Dirección</h4>
                <address>
                    <table>
                        <tr style="vertical-align: middle;">
                            <td><span class="oi oi-home"></span></td> 
                            <td><b> Oficina central</b></td>
                        </tr>
                        <tr style="vertical-align: middle;">
                            <td><span class="oi oi-phone"></span></td>
                            <td> 123123 fsajfjasjf asfasf </td>
                        </tr>
                        <tr style="vertical-align: middle;">
                            <td><span class="oi oi-inbox"></span></td>
                            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                        </tr>
                    </table>
                        
                    
                    
                </address>
            </div>

            <div class="col-12 col-md d-flex flex-column align-items-md-end align-items-center my-sm-3 my-0">
                <h4>Nuestras redes</h4>

                <a href="#">Facebook</a>
                <a href="#">Facebook</a>
                <a href="#">Facebook</a>
            </div>
    </div>
</footer>
